.popular_food {
  padding: 64px;

  display: flex;
  flex-direction: column;

  background-color: var(--primary-color);
  background-image: url("../../assets/popular_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  overflow: hidden;
}

.popular_food_title {
  font-size: 30px;
}
.popular_food_title {
  flex: 1;
  display: flex;
  justify-content: center;
}

.popular_food_list {
  flex: 1;
  display: flex;
  justify-content: center;
}
.popular_items {
  padding: 10px 28px;
  margin: 50px 10px 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 46px;

  font-size: 16px;
  font-weight: 300px;
  line-height: 25px;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
  cursor: pointer;
}

.popular_food_list img {
  width: 25px;
}
